In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from pandas import ExcelWriter
%matplotlib inline

In [3]:
ruta="/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán"

# DATOS COYOACAN REPARACIÓN 2014

In [4]:
dt4=pd.read_excel("/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán data/TRANSFERENCIAS INTEGRALES POR TI_2014_2.xlsx")

In [5]:
dt6=pd.read_excel(ruta+"/POR TI SUBPROGRAMA BIENESTAR_2016.xlsx")

writer = ExcelWriter('/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán/TRANSFERENCIAS INTEGRALES POR TI_2014_2.xlsx')
dt.to_excel(writer, 'hoja de calculo', index=False)
writer.save()

In [6]:
_2016=list(dt6["UNIDAD TERRITORIAL"].unique())

In [7]:
_2014=list(dt4["UNIDAD TERRITORIAL"].unique())

In [8]:
a=list(dt4["UNIDAD TERRITORIAL"].unique())
a=sorted(a)
b=list(dt6["UNIDAD TERRITORIAL"].unique())
b=sorted(b)

In [9]:
lista=[]
for i in a:
    if i not in b:
        lista.append(i)
        print(i)

CAMPESTRE COYOACAN
EJIDO VIEJO DE SANTA URSULA COAPA
EL PARQUE DE COYOACAN
HACIENDAS DE COYOACAN
INTEGRACION LATINOAMERICANA, U.H.
PEDREGAL DE COYOACAN, U.H.

In [10]:
col=sorted(b+lista)

In [11]:
col.remove("SAN LUCAS")

ValueError: list.remove(x): x not in list

In [12]:
len(col)

123

# Reparar datos 2017

In [13]:
lista_final=col.copy()
#lista_final.remove("SAN LUCAS")
lista.append("EJIDO VIEJO DE SANTA URSULA COAPA")
lista_final.remove("EJIDO VIEJO DE SANTA URSULA")

In [14]:
for i in lista_final:
    if i not in col:
        print(i)
len(lista_final)
#lista_final.remove("VIEJO EJIDO DE SANTA URSULA COAPA")
lista_final.append("EJIDO VIEJO DE SANTA URSULA COAPA")
lista_final.append("GENERAL ANAYA")
lista_final.append("CUCHILLA DE LA MAGDALENA")
lista_final.append("LOS SAUCES")
lista_final.append("VILLAS DEL PEDREGAL, U.H.")
#lista_final.remove("AMPÑIACION CANDELARIA")
lista_final.append("SAN PABLO TEPETLAPA")
lista_final.append("AMPLIACION CANDELARIA")
#lista_final.append("EX-HACIENDA COAPA")

In [17]:
lista_final.append("BARRIO OXTOPULCO UNIVERSIDAD")

In [19]:
lista_final.append("EX-HACIENDA COAPA")

In [20]:
dt7=pd.read_excel("/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán data/POR TI SUBPROGRAMA BIENESTAR_2017_3.xlsx")

_2017=list(dt7["U.T."].unique())

O=0
for i in _2017:
    if i not in lista_final:
        O+=1
        print(i)
print(O)

SAN FRANCISCO CULHUACAN
CTM CULHUACAN
CULHUACAN
HAB CTM CULHUACAN SECC 8
U HAB CTM CULHUACAN ZONA 18
HAB CTM X CULHUACAN
U H CTM CULHUACAN
HAB CTM CULHUACAN
U HAB CTM CULHUACAN
ZONA 9
U CTM CULHUACAN
N
U HAB CTM IX CULHUACAN
U HAB CTM CULHUACAN
U HAB CULHUACAN
HAB CTM CULHUACAN Z
U H TLALPAN
16

dt7[["U.T."]]=dt7[["U.T."]].replace("PUEBO DE LOS REYES","PUEBLO DE LOS REYES")

In [21]:
dt7=dt7.dropna()

In [22]:
dt7[dt7["U.T."].isnull()==True]

Empty DataFrame
Columns: [CONSECUTIVO, PATERNO, MATERNO, NOMBRE, U.T., DELEGACIÓN, EDAD, SEXO, MONTO, RECURSO , BENEFICI O, APOYO OTORGADO]
Index: []

writer = ExcelWriter('/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán data/POR TI SUBPROGRAMA BIENESTAR_2017_3.xlsx')
dt7.to_excel(writer, 'hoja de calculo', index=False)
writer.save()

# Reparacion de los datos 2015

In [23]:
xl = pd.ExcelFile("/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán/TRANSFERENCIAS INTEGRALES POR  TI_2015.xlsx")
res = len(xl.sheet_names)
res

631

In [24]:
df=pd.ExcelFile("/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán/TRANSFERENCIAS INTEGRALES POR  TI_2015.xlsx")

In [25]:
lista=[]
columnas=pd.read_excel(df,'Sheet2')
for i in range(2,632):
    data=pd.read_excel(df,'Sheet%i'%i,header=None)
    data.columns =list(columnas.columns)
    lista.append(data)

In [26]:
data=pd.concat(lista)

In [27]:
data[["CONSECUTIVO","U.T."]].head()

   CONSECUTIVO               U.T.
0  CONSECUTIVO               U.T.
1            1  PEDREGAL DE SANTA
2          NaN             URSULA
3            2             AJUSCO
4            3      CULHUACAN CTM

In [28]:
#marco los null con -1 en ambos casos
num=list(data["CONSECUTIVO"].fillna(-1))
names=list(data["U.T."].fillna(-1))
num.pop(0)
names.pop(0)

'U.T.'

In [29]:
#Elimina el dato de la lista
for i in range(7):
    num.remove('CONSECUTIVO')
    names.remove("U.T.")

In [30]:
pairs=[]
for a,b in zip(num,names):
    pairs.append([a,b])

In [31]:
new=[]
#elimina lo que tenga -1 y null 
pairs2=[]
for i in pairs:
    if i[1]!=-1:
        pairs2.append(i)

for i in range(len(pairs2)-1):
    if pairs2[i][0]!=-1:
        if pairs2[i][1] in lista_final:
            new.append([pairs2[i][0],pairs2[i][1]])
        else:
            if pairs2[i+1][0]==-1:
                new.append([pairs2[i][0],pairs2[i][1]+" "+pairs2[i+1][1]])
            else:
                new.append([pairs2[i][0],pairs2[i][1]])
#for i in range(len(pairs)-1): 
#   if pairs[i][0]!=-1:

In [32]:
len(pairs2)

25154

In [33]:
nums=[]
for i in new:
    nums.append(i[0])

In [34]:
##Elimina repetidos innecesariosn
num.remove('CONSECUTIVO')
for i in num:
    if i=="CONSECUTIVO":
        print(i)
        
names.remove('U.T.')
for i in names:
    if i=="U.T.":
        print(i)

ValueError: list.remove(x): x not in list

In [35]:
print(len(num),len(names))

25275 25275

In [36]:
a=list(range(1,13614))

In [37]:
for i in new:
    if i[0] ==13603:
        print(i)

[13603.0, 'PUEBLO LA CANDELARIA']

In [38]:
numeros=list(range(1,13614))

In [39]:
pares=[]
for a,b in zip(numeros,nums):
    pares.append([a,b])

In [40]:
for i in pares:
    if i[0]!=i[1]:
        print(i)
        break

[8148, 8149.0]

In [41]:
nums[13413]

13416.0

In [42]:
new[8147]
new.insert(8147,[8148,"PEDREGAL DE SANTA URSULA"])
new[13413]
new.insert(13413,[13415,"PUEBLO DE LOS REYES"])
new[13413]
new=sorted(new)
new[13413]

[13414.0, 'ADOLFO RUIZ CORTINES']

In [43]:
nums=[]
for i in new:
    nums.append(i[0])

In [44]:
colonias=[]
for i in new:
    colonias.append(i[1])

In [45]:
print(len(nums),len(colonias))

13613 13613

# Obtengo las otras columnas

In [46]:
d2015=pd.ExcelFile("/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán/TRANSFERENCIAS INTEGRALES POR  TI_2015.xlsx")

In [47]:
lista=[]
columnas=pd.read_excel(d2015,'Sheet2')
for i in range(2,632):
    data=pd.read_excel(d2015,'Sheet%i'%i,header=None)
    data.columns =list(columnas.columns)
    lista.append(data)
data=pd.concat(lista)

In [48]:
#Elimino datos sobrantes
data= data.dropna(how='any',axis=0,thresh=3)

In [49]:
columnas=[x for x in data.columns if x!="CONSECUTIVO" and x!="U.T." and x!="NOMBRE"]

In [50]:
columnas_final=[]
for i in columnas:
    a=list(data[i].dropna())
    for j in range(8):
        a.remove(i)
    columnas_final.append(a)

In [51]:
for i in list(data["NOMBRE"]):
    if i=="NOMBRE":
        print(i)
NOMBRE=list(data["NOMBRE"])

NOMBRE
NOMBRE
NOMBRE
NOMBRE
NOMBRE
NOMBRE
NOMBRE
NOMBRE

In [52]:
NOMBRE.remove("NOMBRE")

In [53]:
columnas

['PATERNO', 'MATERNO', 'DELEGACION', 'SEXO', 'EDAD']

In [54]:
PATERNO=columnas_final[0]
MATERNO=columnas_final[1]
DELEGACION=columnas_final[2]
SEXO=columnas_final[3]
EDAD=columnas_final[4]

In [55]:
print(len(PATERNO),len(MATERNO),len(NOMBRE),len(DELEGACION),len(SEXO),len(EDAD))

13613 13613 13620 13613 13613 13613

In [56]:
consecutivo["PATERNO"]=pd.DataFrame(PATERNO)
consecutivo["MATERNO"]=pd.DataFrame(MATERNO)
consecutivo["NOMBRE"]=pd.DataFrame(NOMBRE)
consecutivo["UNIDAD TERRITORIAL"]=pd.DataFrame(colonias)
consecutivo["DELEGACION"]=pd.DataFrame(DELEGACION)
consecutivo["SEXO"]=pd.DataFrame(SEXO)
consecutivo["EDAD"]=pd.DataFrame(EDAD)

NameError: name 'consecutivo' is not defined

In [57]:
consecutivo

NameError: name 'consecutivo' is not defined

In [776]:
writer = ExcelWriter('/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán data/TRANSFERENCIAS INTEGRALES POR TI_2015_3.xlsx')
consecutivo.to_excel(writer, 'hoja de calculo', index=False)
writer.save()

# HOMOGENEIZACION LOS NOMBRES DE LAS COLONIAS

In [59]:
new_data=pd.read_excel("/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán data/TRANSFERENCIAS INTEGRALES POR TI_2015_3.xlsx")

In [60]:
new_data.head()

,CONSECUTIVO,PATERNO,MATERNO,NOMBRE,UNIDAD TERRITORIAL,DELEGACION,SEXO,EDAD
0,1,.,ALQUICIRA,IRMA,PEDREGAL DE SANTA URSULA,COYOACAN,FEMENINO,66
1,2,.,ALVARADO,YOLANDA FRANCISCA,AJUSCO,COYOACAN,FEMENINO,56
2,3,.,BAÑOS,MARIA DE LOS,CULHUACAN CTM SECCION X-A,COYOACAN,FEMENINO,66
3,4,.,BELMONT,GLORIA,PEDREGAL DE SANTO DOMINGO,COYOACAN,FEMENINO,66
4,5,.,BELMONT,HERLINDA,EJ VJO STA URSULA COAPA,COYOACAN,FEMENINO,49

In [61]:
provi=list(new_data["UNIDAD TERRITORIAL"])

In [62]:
n=0
for i in provi:
    if i not in lista_final:
        n+=1
        print(i)
print(n)

CULHUACAN CTM
CULHUACAN CTM
PRESIDENTES EJIDALES 2A SECCION
CULHUACAN CTM SECCION IX
4

In [63]:
lista_final.append("PRESIDENTES EJIDALES 2A SECCION")

In [64]:
lista_final=sorted(lista_final)
lista_final=pd.DataFrame(lista_final)

In [65]:
writer = ExcelWriter('/home/diego/Escritorio/Thesis/data/Datos BCCCI/Coyoacán data/colonias.xlsx')
lista_final.to_excel(writer, 'hoja de calculo', index=False)
writer.save()